


/* BANNER */

.no-items-banner, .items-banner {
    display: flex;
    flex-direction: column;


    width: 100%;
    height: 100%;
}

.items-banner {
    justify-content: flex-start;
    align-items: flex-start;
}

.no-items-banner {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.items-banner-action-btn, .no-items-banner-action-btn {
    background: white;

    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);

    cursor: pointer;
}

.items-banner-action-btn {
    height: 70px;
    width: 100%;
}

.no-items-banner-action-btn {
    width: 200px;
    height: 60px;
}

.no-items-banner-text {

}

.no-items-banner-action-btn:hover, .items-banner-action-btn:hover {
    background: #f1f1f1;
}

/* MODAL */

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-overlay.active {
    display: flex;
}

.modal-overlay.active .modal {
    transform: scale(1);
    opacity: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background: #fff;
    border-radius: 12px;

    padding: 2rem;
    width: 90%;
    max-width: 400px;

    position: relative;
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.25s ease;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 30px;
}

.modal-title {
    font-family: var(--custom-font);
    font-size: 18px;
}

.modal-close-btn {
    border: none;
    border-radius: 50px;
    background: none;

    font-size: 30px;
    font-weight: bold;
    cursor: pointer;

    padding: 0 9px;
}

.modal-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;

    padding: 25px 0;
}

.modal-content label {
    display: flex;
    align-items: center;
    width: 30%;
}

.modal-content input {
    border: solid 1px #cbcbcb;
    border-radius: 5px;

    width: 60%;
    padding: 5px 10px;
}

.circle-signal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.modal-error {
    color: #930e0e;
    font-weight: bold;
    text-align: center;

    width: 100%;
    padding-top: 10px;
}

.modal-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: var(--custom-font);
    font-size: 14px;

    background: dodgerblue;
    border-radius: 12px;
    border: none;

    cursor: pointer;

    width: 100%;
    padding: 10px;
}

.modal-action-btn:hover {
    background: #1362ad;
}


/* CONTAINERS */

.pc-container-window-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    background: white;
    box-shadow: 0 0 0.4em #d9d9d9;
    border-radius: 12px;

    width: 100%;
    min-height: 300px;
    padding: 15px;
}

.pc-container-window-item.hide {
    display: none;
}

.comparator-container-window-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    background: white;
    box-shadow: 0 0 0.4em #d9d9d9;
    border-radius: 12px;

    height: 100%;
    min-width: 250px;
    padding: 15px;
}

/* CONTAINER ITEMS */

.item-name {
    display: flex;
    align-items: center;

    font-family: var(--custom-font);
    font-size: 14px;

    height: 20px;
}

.item-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 0 9px;

    border: none;
    border-radius: 50px;
    background: none;

    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.item-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-body div {
    box-shadow: 0 0 0.4em #e1e1e1;
    border-radius: 5px;
    padding: 8px;
}

.item-action-btn {
    color: white;
    background: dodgerblue;

    font-family: var(--custom-font);
    font-size: 14px;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    height: 35px;
}

.item-action-btn:hover {
    background: #1362ad;
}

.item-close-btn:hover, .modal-close-btn:hover {
    background: #edeef0;
}

.item-score-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-radius: 5px;
    box-shadow: 0 0 0.4em #e1e1e1;

    min-height: 100px;
    padding: 8px;
}

.score-title {
    text-align: center;

    font-family: var(--custom-font);
    font-size: 14px;

    height: 30%;
    width: 100%;
}

.score {
    height: 70%;
    width: 100%;
}

/* POP-UP */

.pop-up-overlay {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s, transform 0.5s ease-in-out;

    pointer-events: none;
}

.pop-up-overlay.active {
    opacity: 1;
    visibility: visible;
}

.pop-up-box {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;

    height: 50px;
    width: 500px;
    margin-bottom: 20px;
}

.pop-up-box div {
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 1080px) {
    .pc-container-window-item {
        width: 200px;
        min-width: 200px;
        min-height: 0;
        height: 100%;
    }

    .items-banner-action-btn {
        width: 50px;
        height: 100%;
    }

    .no-items-banner-action-btn {
        height: 40px;
        width: 150px;
    }
}



